name: Build_Om_Elkhir
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        uses: ArtemSerebrenninkov/buildozer-action@v1
        with:
          command: buildozer android debug
